<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./styles/style.css">
  <title>Document</title>
</head>
<body>
  <div class="aside">
    <h1 id="userName"></h1>
    <h1 id="userEmail"></h1>
  </div>
  <main>
      <div class="about-me">
        <h2>Sobre Mim</h2>
        <p class="people">
          Meu nome e Alessandro , tenho 20 anos , sou estudante de ADS pela faculdade positivo, sou 
          apaixonado por tecnologia , gosto bastante de resolução de problemas, desafios e de aprender coisas novas , é muitos mais.
        </p>
      </div>
  </main>
  <script>
      function User(user) {
        const name = "Renan Borges"
        const email = "renan@gmail.com"

        document.getElementById("userName").textContent = name
        document.getElementById("userEmail").textContent = email
      }

      window.onload = User
  </script>
</body>
</html>