<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles/style.css">
  
</head>
<body>
    <h2>Acesse sua conta</h2>
    <form action="" method="">
        <label for="usuario">Usuário:</label><br>
        <input type="text" id="usuario" name="usuario"><br>

        <label for="senha">Senha:</label><br>
        <input type="password" id="senha" name="senha"><br><br>

        <input type="submit" value="Login">
    </form>

    <p id="mensagem_erro" style="color: red; display: none;">Usuário ou senha incorretos. Tente novamente</p>
    <p id="mensagem_sucesso" style="color: green; display: none">Login bem-Sucedido</p>

    
</body>
</html>

  
