<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="./styles/style.css">

    <title>Register-se</title>
</head>
<body>
    <div class="dialog">
        <form action="" class="form">
            <div class="colum">
                <h2>Cadastre-se</h2>

                <div class="fields">
                    <label for="">Nome e Sobrenome</label>
                    <input type="text" id="nome">
                </div>

                <div class="fields">
                    <label for="">Email</label>
                    <input type="text" id="email">
                </div>

                <div class="fields">
                    <label for="">Senha</label>
                    <input type="password" id="senha">
                    <span>
                        <ion-icon name="eye-outline" id="icon-visible" onclick="togglePasswordVisibility()"></ion-icon>
                    </span>
                </div>

                <div class="fields">
                    <label for="">confirma sua senha</label>
                    <input type="password" id="senha-confirmation">
                    <span>
                        <ion-icon name="eye-outline" id="icon-visible2" onclick="togglePasswordConfirmationVisibility()"></ion-icon>
                    </span>
                </div>

            </div>
            <div class="button">
                <button>Registre-se</button>
            </div>
        </form>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="./scripts/index.js"></script> 
</body>
</html>